 /* .MuiTypography-body1 {
    height: 7.5rem;
        width: 100%;
        background-color: rgb(53, 53, 54);
        margin-top: 8px;
        display: flex;
    }  */


/* 
    #footer {
    bottom: 0;
    height: 8.5rem;
    width: 100%;
    background-color: rgb(53, 53, 54) !important;
    position: flex;
    } */

    .footer {
        padding-top: 10%;
        padding-bottom: 10% !important;
        bottom: 0;
        height: auto !important; 
        width: 100%;
        background-color: rgb(53, 53, 54) !important;
        position: absolute;
        justify-content: space-evenly;
        border: 5px solid yellow;
    }

    .links {
        color: white;
        text-decoration-line: none;
    /* margin-left: -400px; */
    }

/* 
 .menulinks {
    color: black;
    text-decoration-line: none;
 } */
  
 .copyright {
 margin-left: 100%;
 }