 /* .MuiTypography-body1 {
    height: 7.5rem;
        width: 100%;
        background-color: rgb(53, 53, 54);
        margin-top: 8px;
        display: flex;
    }  */



    .footer {
    height: 8.5rem;
    width: 100%;
    background-color: rgb(53, 53, 54) !important;
    display: flex;
    }