.book {
    transform: scale(3.5);
}

.map {
    transform: scale(3.5); 
}

.person {
    transform: scale(3.5); 
}



/* .MuiGrid-spacing-xs-5{

   
  justify-content: space-between !important;
 
} */

/* .MProductValues-container-18 {
    background-color: #f5f6fa;
    display: flex;
       box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5) !important;
       display: flex !important;
     justify-content: space-between !important;
     
}
.MuiContainer-maxWidthLg{} */