* {
    margin: 0;
  }
  
  body {
    background-color: #fbfcff;
    
  }
  
  .covidapp {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(44, 46, 44) ;
    padding: 20px;
  }
  
  .covidapp__dropdown {
    background-color: white;
  }
  
  .covidapp__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
   
  }
  
  .covidapp__header > h1 {
    color: #b4d8f3;
    font-size: 2rem;
   
  }
  
  .covidapp__stats {
    display: flex;
    justify-content: space-between;
  }
  
  .covidapp__left {
    flex: 0.9;
  }
  
  .covidapp__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .covidapp__information > h3:last-of-type {
    margin-top: 1rem;
  }
  
  @media (max-width: 990px) {
    .app {
      flex-direction: column;
    }
  }

  .covidArrowIcon {
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 15px;
    transform: scale(4.0);
}