.covidinfoBox {
    flex: 1;
    width: 250px;
  }
  
  .covidinfoBox:not(:last-child) {
    margin-right: 10px;
  }
  
  .covidnfoBox--selected {
    border-top: 10px solid greenyellow;
  }
  
  .covidinfoBox--red {
    border-color: red;
  }
  
  .covidinfoBox__cases--green {
    color: lightgreen !important;
  }
  
  .covidinfoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
  }
  
  .covidinfoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 1.0rem !important;
    margin-top: 15px !important;
  }

  .icovidnfoBox {
    width: 200px;
    text-align: center;
  }

  .covidinfoBox__title{
    font-weight: 900 !important;
    font-size: 1.3rem !important;
  }