.covidmap {
    height: 500px;
    background-color: rgb(129, 126, 126);
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.covidmap .leaflet-container {
    height: 100%;
}

.covidinfo-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.covidinfo-flag {
    height: 80px;
    width: 100px;
    border-radius: 5px;
    background-size: cover;
}

.covidinfo-cases,
.covidinfo-confirmed,
.covidinfo-recovered,
.covidinfo-deaths {
    font-size: 16px;
    margin-top: 5px;
}