.tableDiv {
    padding-top: 20px;
    width: 100%; 
    background-color: rgb(26, 25, 25);
  
}

.tableRow {
    /* max-width: 100% !important; */
    /* padding-right: 200px !important; */
    justify-content: space-evenly !important;
    width: 100% !important;
}

.tableCell {
    /* max-width: 100% !important; */
    width: 100% !important;
    justify-content: space-evenly !important;
   
}

.titleCell {
    font-weight: 900 !important;
    font-size: 1.0rem !important;
    width: 100% !important;
    justify-content: space-evenly !important;
}

  .journalTableItemRow:hover {
    background-color: #2b97ee;
    width: 100% !important;
   
  }

  .tableEditIcon {
      transform: scale(1.5);
      color: rgb(49, 209, 9);
      cursor: pointer;
      width: 100% !important;
  }

  .tableDeleteIcon {
    transform: scale(1.5);
    color: red;
    cursor: pointer;
}

.journalMainDiv {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    
}

.mainTable {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    justify-content: space-evenly !important;
   
}

.headerMain{
    justify-content: space-between !important;
    background-color: rgb(218, 212, 212);
}

.tableBody {
    background-color: rgb(218, 212, 212);
}