.login {
    display: flex;
    justify-content: space-evenly;
    height: 720px;
    padding: 1rem;
    background-color: silver;
    background-image: url(https://images.unsplash.com/photo-1594911772125-07fc7a2d8d9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    background-size: inherit;
    background-position: top;
}

.login {
    background-image: url(https://images.unsplash.com/photo-1594911772125-07fc7a2d8d9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    width: 1500px !important;
    justify-content: space-around !important;
    display: flex;
    flex-direction: column;
    background-position: top;
}

.register {
    margin-top: 10px !important;
}
