 .journalFormCard {
    background-color: transparent !important;  
    width: 100% !important;
  /* justify-content: space-around !important; */
  display: flex;
  flex-direction: column; 
  background-position: top;
  
  align-items: center !important;
  padding-right: 28% !important;
}  

 .journalFormDiv {
    display: flex;
    justify-content: space-evenly;
    height: 90% !important;
    padding: 1rem;
    background-image: url(https://images.unsplash.com/photo-1524855567984-d7bbc2893539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80);
    background-size: cover !important;
    background-position: center;
    
}   

.journalFormPaper {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 2.0);
    border-radius: 85px;
    width: 180%!important;
    height: 100%;
   opacity: 100% !important;
  
   margin-right: 35% !important;
   /* margin-bottom: 0px; */
   /* margin-left: -65% !important; */
  
}

.journalFormAvatar {
    margin-top: 5%;
}

.journalForm {
    padding: 9%;
    /* flex: 1; */
    justify-content: space-between;
    width: 100%; 
    /* margin-top: -40px; */
   
} 
/* 
.journalFormArrow {
    margin-top: 10% !important;
    margin-right: 70% !important;
    transform: scale(1.8);
    color: black;
} */

/* .logbutton {
    margin-top: 30px !important;
} */

/* .journalFormHome {
   margin-top: -90px !important;
   color: black;
    transform: scale(3.0);

} */

.journalGreeting {
    margin-top: 20%;
    color: white;
    font-size: 1.5rem;
   
}

.journalProfileCreate {
    color: white;
    font-size: 1.0rem;
}

.journalMenuButton {
   max-width: 110px;
    background-color: whitesmoke;
    text-decoration-line: none !important;
  
   
}

.editArrowIcon {
    color: white;
    padding-top: 50% !important;
    padding-left: 45%;
    transform: scale(9.0);
}

h3 {
    color: white;
    font-weight: 900;
    margin-top: 6%;
   
    
}