.editJournalFormCard {
    background-color: transparent !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    background-position: top;
    align-items: center !important;
    padding-right: 25% !important;
}

.editJournalFormDiv {
    display: flex;
    justify-content: space-evenly;
    height: 90% !important;
    padding: 1rem;
    background-image: url(https://images.unsplash.com/photo-1524855567984-d7bbc2893539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80);
    background-size: cover !important;
    background-position: center;
}

.editJournalFormPaper {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 2.0);
    border-radius: 85px;
    width: 180%!important;
    height: 100%;
    opacity: 100% !important;
    margin-right: 25% !important;
}

.editJournalFormAvatar {
    margin-top: 5%;
}

.editJournalForm {
    padding: 9%;
    justify-content: space-between;
    width: 100%; 
}

.editJournalGreeting {
    margin-top: 20%;
    color: white;
    font-size: 1.5rem;
}

.editJournalProfileCreate {
    color: white;
    font-size: 1.0rem;
}

.editJournalMenuButton {
    max-width: 110px;
    background-color: whitesmoke;
    text-decoration-line: none !important;
}

.editArrowIcon {
    color: white;
    padding-top: 50% !important;
    padding-left: 45%;
    transform: scale(9.0);
}

h3 {
    color: white;
    font-weight: 900;
    margin-top: 7%;
}