.registerPaper {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 2.0);
    border-radius: 85px;
    width: 100% !important;
    height: 85% !important;
   opacity: 100% !important;
   margin-bottom: 0px;
   margin-top: 15%;
   
    margin-left: 50%; 
} 

.registerAvatar {
    margin-top: -10px;
    margin-bottom: 5px;
}

.registerForm {
    padding: 80px;
    flex: 1;
    justify-content: space-between;
    width: 100%; 
    margin-top: -25%;
    margin-bottom: -50px !important;
} 

 .registerDiv {
    display: flex;
    justify-content: space-evenly;
    height: 790px;
    background-image: url(https://images.unsplash.com/photo-1531854676938-4d5f9703df2e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
    background-size: inherit;
    background-position: right;
   

} 

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    position: relative;
    z-index: 1;
   
   
  }

.registerButton {
    margin-top: 10px !important;
   
}
.loginButton {
    margin-bottom: -10px !important;
   
}

 .registerCard {
    width: 1500px !important;
    justify-content: space-around !important;
    display: flex;
    flex-direction: column; 
    /* margin-right:100px ; */
    background-position: left;
    background-color: transparent !important;
  
  
}  

.registerArrow {
    margin-top: 20px !important;
    margin-right: 60%;
    transform: scale(1.8);
    color: white;
}



.registerHome {
    color: black;
     transform: scale(2.0);
    
 } 