.paper {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 2.0);
    border-radius: 85px;
    width: 400px !important;
   opacity: 100% !important;
   margin-bottom: 10px;
}

.avatar {
    margin-top: 25px;;
}

.form {
    padding: 80px;
    flex: 1;
    justify-content: space-between;
    width: 100%; 
    margin-top: -20px;
}

.login {
    display: flex;
    justify-content: space-evenly;
    height: 720px;
    padding: 1rem;
  background-color: silver;
  background-image: url(https://images.unsplash.com/photo-1508904635850-d986b19765d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);

}

 .MuiPaper-rounded {
    background-image: url(https://images.unsplash.com/photo-1508904635850-d986b19765d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
    border-radius: 10px !important;
    width: 1500px !important;
    justify-content: space-around !important;
    display: flex;
    flex-direction: column; 
  
} 

.arrow {
    margin-top: 20px !important;
    margin-right: 60%;
    transform: scale(1.8);
}

.genderM {
    margin: 10px 10px 15px 32px !important;
    
}

.genderF {
    margin: 10px 10px 15px 10px !important;
}

.register {
    margin-top: 20px !important;
}