.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: whitesmoke;
    padding-left: 10px;
}

.nav {
  margin: 0;
  background-color: #60BFBF;
  overflow: hidden;
  
}

.nav-link {
  float: left;
  color: whitesmoke;
  background-color: #60BFBF;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link:hover {
  background-color: #3a8686
}

.nav-right {
  float: right;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.appp {
  background-color: #23956f
}